.activeRoom {
  position: relative;
}

.stickyHeader {
  position: sticky;
  top: 0;
}

.stickyFooter {
  box-shadow: 1px 1px 5px #ccc;
  padding: 1rem 0.5rem;
  background-color: var(--dc-core-palette-color-5);
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
}

.mainContent {
  height: calc(100vh - 180px);
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 80px;
  background-color: #f0f0f0;
}

.fullWidthInput {
  width: 100%;
  min-width: 0;
  height: 44px;
  vertical-align: middle;
  margin-right: var(--dc-core-spacing-sm);
}
