.navigationItem {
    padding: var(--dc-core-spacing-lg) var(--dc-core-spacing-xl);
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    width: 100%;
}

.navigationItem a {
    color: var(--dc-core-typography-color-primary);
    text-decoration: none;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
