.chatContainer {
  height: 100vh;
  overflow: hidden;
}

.chatChannels {
  background-color: var(--dc-core-palette-primary);
  color: var(--dc-core-typography-primary-color);
  overflow: auto;
}

.animateFromBottom {
  position: relative;
  bottom: -20%;
  opacity: 0;
  animation-name: bottomToTop;
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: var(--dc-core-animation-duration-lg);
}

@keyframes bottomToTop {
  from {
    bottom: -20%;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

.userNameDiv {
  font-size: var(--dc-core-typography-font-size-2);
  font-weight: var(--dc-core-typography-font-weight-2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: var(--dc-core-spacing-xl);
  padding-bottom: var(--dc-core-spacing-xs);
}

.roomList {
  margin-top: 35px;
}

.toggleDrawerOnMobile {
  width:5px;
  height: 40px;
  background-color: var(--dc-core-palette-tertiary);
  position: absolute;
  left: var(--dc-core-spacing-lg);
  top: 50vh;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 5px;
}

.toggleHelper {
  font-size: inherit;
}

.toggleDrawerOnMobile.toggleHelperDrawerOpen {
  /* This should always match the width of DCDrawer + 15px */
  left: calc(var(--dc-core-flex-9) + 15px);
  transition: left var(--dc-core-animation-duration-lg) var(--dc-core-animation-timing-function-1) 0.5s;
}