@keyframes opendrawer {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

.drawerContainer {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.openAnimation {
  left: -100%;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: var(--dc-core-animation-timing-function-1);
  animation-duration: var(--dc-core-animation-duration-lg);
  animation-name: opendrawer;
}

.primary {
  background-color: var(--dc-core-palette-primary);
  color: var(--dc-core-typography-primary-color);
  overflow: auto;
}

.secondary {
  background-color: var(--dc-core-palette-secondary);
  color: var(--dc-core-typography-secondary-color);
  overflow: auto;
}

.tertiary {
  background-color: var(--dc-core-palette-tertiary);
  color: var(--dc-core-typography-tertiary-color);
  overflow: auto;
}

@media screen and (max-width: 767px) {
  .drawerContainer {
    position: absolute;
    z-index: 3;
    height: 100vh;
    box-shadow: 1px 1px 5px #333333;
  }
}