.navigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.selected {
    background-color: var(--dc-core-palette-tertiary);
}
