.buttonCore {
  color: var(--dc-core-typography-primary-color);
  background-color: var(--dc-core-palette-primary);
  font-family: inherit;
  font-size: var(--dc-core-typography-font-size-1);
  font-weight: var(--dc-core-typography-font-weight-1);
  position: relative;
  max-width: 100%;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s var(--dc-core-animation-timing-function-2) 0s, box-shadow 0.15s var(--dc-core-animation-timing-function-2) 0s;
  user-select: none;
  text-decoration: none;
  text-align: center;
  box-shadow: transparent 0px 0px 0px 1px inset;
  box-sizing: border-box;
  border-radius: 0.25rem;
}

.buttonCore:hover {
  background-color: #d91400;
  box-shadow: transparent 0px 0px 0px 1px inset;
}

.buttonCore:disabled {
  background-color: rgba(217, 20, 0, 0.5);
  cursor: auto;
}

.md {
  width: 350px;  
  padding: 0.75rem 1rem;
}

.sm {
  width: fit-content;  
  padding: 0.75rem 1rem;
}
