.msgContainer {
  max-width: 50%;
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--dc-core-palette-color-5);
  margin: var(--dc-core-spacing-xl);
}

.msgName {
  font-weight: var(--dc-core-typography-font-weight-2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.end {
  background-color: var(--dc-core-palette-primary);
  color: var(--dc-core-typography-primary-color);
  margin-left: auto;
}