:root {
  --dc-core-spacing-xs: 0.25rem;
  --dc-core-spacing-sm: 0.5rem;
  --dc-core-spacing-md: 0.75rem;
  --dc-core-spacing-lg: 1rem;
  --dc-core-spacing-xl: 1.25rem;

  --dc-core-flex-1: 8.33%;
  --dc-core-flex-2: 16.67%;
  --dc-core-flex-3: 25%;
  --dc-core-flex-4: 33.33%;
  --dc-core-flex-5: 41.65%;
  --dc-core-flex-6: 50%;
  --dc-core-flex-7: 58.33%;
  --dc-core-flex-8: 66.67%;
  --dc-core-flex-9: 75%;
  --dc-core-flex-10: 83.33%;
  --dc-core-flex-11: 91.67%;
  --dc-core-flex-12: 100%;

  --dc-core-typography-font-size-1: 1em;
  --dc-core-typography-font-weight-1: 400;
  --dc-core-typography-font-size-2: 1.5rem;
  --dc-core-typography-font-weight-2: 600;
  --dc-core-typography-primary-color: #ffffff;
  --dc-core-typography-secondary-color: #555555;

  --dc-core-palette-primary: #eb1700;  
  --dc-core-palette-secondary: #B30F00;
  --dc-core-palette-tertiary: #8b0000;
  --dc-core-palette-color-4: #ff8a80;
  --dc-core-palette-color-5: #ffffff;

  --dc-core-animation-duration-sm: 0.15s;
  --dc-core-animation-duration-md: 0.3s;
  --dc-core-animation-duration-lg: 0.6s;

  --dc-core-animation-timing-function-1: ease-out;
  --dc-core-animation-timing-function-2: ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  font-size: var(--dc-core-typography-font-size-1);
  color: var(--dc-core-typography-secondary-color);
}

.dc-core-align-center {
  margin: 0 auto;
  text-align: center;
}

.dc-core-hide-overflow {
  overflow: hidden;
}

.dc-core-flex {
  display: flex;
}

.dc-core-flex-space-around {
  justify-content: space-around;
}

.dc-core-flex-content-center {
  justify-content: center;
}

.dc-core-flex-align-items-center {
  align-items: center;
}

.dc-core-flex-cloumn-direction {
  flex-direction: column;
}

.dc-core-flex-item {
  flex: auto;
  box-sizing: border-box;
}

.dc-core-flex-1 {
  width: var(--dc-core-flex-1);
  max-width: var(--dc-core-flex-1);
}

.dc-core-flex-2 {
  width: var(--dc-core-flex-2);
  max-width: var(--dc-core-flex-2);
}

.dc-core-flex-4 {
  width: var(--dc-core-flex-4);
  max-width: var(--dc-core-flex-4);
}

.dc-core-flex-5 {
  width: var(--dc-core-flex-5);
  max-width: var(--dc-core-flex-5);
}

.dc-core-flex-6 {
  width: var(--dc-core-flex-6);
  max-width: var(--dc-core-flex-6);
}

.dc-core-flex-7 {
  width: var(--dc-core-flex-7);
  max-width: var(--dc-core-flex-7);
}

.dc-core-flex-8 {
  width: var(--dc-core-flex-8);
  max-width: var(--dc-core-flex-8);
}

.dc-core-flex-9 {
  width: var(--dc-core-flex-9);
  max-width: var(--dc-core-flex-9);
}

.dc-core-flex-10 {
  width: var(--dc-core-flex-10);
  max-width: var(--dc-core-flex-10);
}

.dc-core-flex-11 {
  width: var(--dc-core-flex-11);
  max-width: var(--dc-core-flex-11);
}

.dc-core-flex-12 {
  width: var(--dc-core-flex-12);
  max-width: var(--dc-core-flex-12);
}

.dc-core-flex-3 {
  width: var(--dc-core-flex-3);
  max-width: var(--dc-core-flex-3);
}

.dc-core-flex-column-1 {
  height: var(--dc-core-flex-1);
  max-height: var(--dc-core-flex-1);
}

.dc-core-flex-column-2 {
  height: var(--dc-core-flex-2);
  max-height: var(--dc-core-flex-2);
}

.dc-core-flex-column-3 {
  height: var(--dc-core-flex-3);
  max-height: var(--dc-core-flex-3);
}
/* I would continue writing upto dc-core-flex-column-12 to create a 12 column layout. But i'm stopping here for the interest of time. Please see my Document */

.dc-core-flex-wrap {
  flex-wrap: wrap;
}

.dc-core-margin-sm {
  margin: var(--dc-core-spacing-sm);
}

.dc-core-margin-md {
  margin: var(--dc-core-spacing-md);
}

.dc-core-margin-lg {
  margin: var(--dc-core-spacing-lg);
}

.dc-core-padding-sm {
  padding: var(--dc-core-spacing-sm);
}

.dc-core-padding-md {
  padding: var(--dc-core-spacing-md);
}

.dc-core-padding-lg {
  padding: var(--dc-core-spacing-lg);
}

.dc-core-padding-lg-vertical {
  padding: var(--dc-core-spacing-lg) 0;
}

@media screen and (max-width: 767px) {
  .dc-core-md-hidden {
    display: none;
  }

  .dc-core-flex-md-1 {
    width: var(--dc-core-flex-1);
  max-width: var(--dc-core-flex-1);
  }

  .dc-core-flex-md-2 {
    width: var(--dc-core-flex-2);
  max-width: var(--dc-core-flex-2);
  }
  /*  I would continue writing upto dc-core-flex-md-12 to create a 12 column layout for md sized screens. But i'm stopping here for the interest of time. Please see my Document */
  .dc-core-flex-md-9 {
    width: var(--dc-core-flex-9);
  max-width: var(--dc-core-flex-9);
  }

  .dc-core-flex-md-12 {
    width: var(--dc-core-flex-12);
  max-width: var(--dc-core-flex-12);
  }
}

@media screen and (min-width: 768px) {
  .dc-core-lg-hidden {
    display: none;
  }
}
