.input_container {
  min-width: 350px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #999999;
  border-radius: 2px;
  box-sizing: border-box;
  font: inherit;
  background: none;
  letter-spacing: inherit;
}