.pageHeader {
  box-shadow: 1px 1px 5px #ccc;
  width: 100%;
  box-sizing: border-box;
}

.header {
  padding: 1rem 0.5rem;
}

.header h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}